
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
 
}

body {
     background-color:rgb(230, 250, 245); 
    margin: 10px;

    
    font-size: 200%;
    
}


p {
  /*box-sizing: border-box;
  display: block;
  animation: about_me 5s ease-in-out;*/
  font-family: 'Poppins', sans-serif;
  /* color: rgb(8, 76, 97); */
}

  

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: white;
  color: #55ACEE ;
}
.fa-github {
  background: rgb(65, 64, 64);
  color: white;
}
#socials {
  display: flex;
  justify-content: center;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(8, 76, 97);

}


#mySidenav a {
    
    
    
    margin-top: 0px;
    margin-right: 10px;
  
    transition: 0.3s;
    
    padding: 10px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color:rgb(8, 76, 97);
    border-radius: 0 5px 5px 0;
    border-color: rgb(230, 250, 245); ;
  }

  #symb {
    font-size: 60px;
  }
  
  #mySidenav a:hover {
    
    background-color:rgb(8, 76, 97);
    color: rgb(230, 250, 245);
  }
  
  #about {
    top: 20px;
    border: 2px solid black;
    background-color:rgb(230, 250, 245);
  }
  #projects {
    top: 80px;
    border: 2px solid black;
    background-color: rgb(230, 250, 245);
   
  }
  
  #contact {
    top: 140px;
    border: 2px solid black;
    background-color: rgb(230, 250, 245);
  }
  #icons {
    height: 100px ;
    width: 100px;
  }

select {
    position: absolute;
    right: 0;
    top: 1;
    width: 100px;
    height: 20px;
    background-color: aquamarine;
    color:darkslategray ;
    border: 2px solid darkslategray ;
    border-radius: 20px;
    padding: 1px 2px 2px 2px;
}

h4 {
    margin-top: 0px;
    margin-left: 20px;
    color: rgb(230, 250, 245);
    font-family: 'Dancing Script', cursive;
}
#scroll {
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  scroll-behavior: smooth;
 
}
#container {
  display: flex;
  justify-content:space-evenly;
}

#about_me{
    color: rgb(8, 76, 97);
    text-align: left;
    animation: about_me 5s ease-in-out; 
    animation-duration: 3s;
    padding-top: 5px;
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;

}
#me,#me:before {
  width: 100%;
  width: 300px;
  height: 400px;
  display: block;
  margin-top: 60px;
  margin-right: 60px;
  animation: me 2s ease-in-out;
  animation-duration: 3s;
  box-shadow: 2px 2px 2px 2px darkslategray;
  
}
#me:hover{
  transition: 0.3s;
  box-shadow: 4px 4px 4px 4px darkslategray;

}

 
@keyframes me {
  0% {
    transform: translateY(-1000%);
  }

  50% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

/*#me:hover {
  animation: zoom-move 1s;
}

@keyframes zoom-move {
  from {
    transform: scale(1) translate(0, 0);
  }

  to {
    transform: scale(1.2) translate(10px, 10px);
  }
}*/



@keyframes about_me {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0%);
  }
}
/*a {
  color: black;
}
a:hover {
  font-size: 120%;
  color: black;
}*/

#headline {
  text-align: center;
  color:rgb(230, 250, 245);
  background-color: rgb(8, 76, 97);;
}

#project {
    color:  rgb(8, 76, 97);
    display: flex;
    flex-direction: row;
    justify-content:space-evenly ;
    animation: about_me 4s ease-in-out;
    font-family: 'Poppins', sans-serif;
    
}
#about1 {
  border: none;
}
#pro {
  box-shadow: 2px 2px 2px 2px darkslategray;
  
  height: 200px;
  width: 300px;
}
#pro:hover {
  box-shadow: 4px 4px 4px 4px darkslategray;
  transition: 0.3s;
}
#desc p{
  border: 5px solid  rgb(8, 76, 97);
  padding: 2px;
}
#desc:hover {
  transition: 0.3s;
  background-color:rgb(8, 76, 97);
  color: rgb(230, 250, 245);
  transition: 0.3s;
}
#Contacts{
  color:  rgb(230, 250, 245); 
  background-color: rgb(8, 76, 97);
  padding: 5px;
   
}
#gmail {
   background-color: white;
}

@media screen and (max-width: 400px) {
  body {
    font-size: 100%;
    text-align: center;
    margin: 5px;
  }
  #project {
    display: flex;
    flex-direction: column;
  }
  
  #container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    
  }
  #mySidenav a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #header {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
  }
  #title {
    font-size: 150%;
   
  }
  #me {
    margin: 20px 40px;
    height: 350px;
    width: 300px;
    align-self: center;
  }
 #socials {
  margin: 10px;
 }
 .fa {
  padding: 15px;
  font-size: 80px;
  height: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 3px 2px;
  border-radius: 50%;
}




}